In [1]:
# 001 print 기초

print('Hello world')

Hello world

In [2]:
# 002 

print("Mary's cosmetics")

Mary's cosmetics

In [7]:
# 003

print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [9]:
# 004

print('C:\Windows')

C:\Windows

In [12]:
# 005

print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n : 줄 바꿈
# \t : 탭

안녕하세요.
만나서		반갑습니다.

In [17]:
# 006

print("오늘은", "일요일")
# 오늘은 일요일

오늘은 일요일

In [26]:
# 007

print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [27]:
# 008

print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [41]:
# 009

print("first", end=""); print("second")

firstsecond

In [43]:
# 010

print(5/3)

1.6666666666666667

In [50]:
# 011

samsung_elec = 50000
total = 10 * samsung_elec
print(total, end=""); print('원')

500000원

In [56]:
# 012

total = 2980000000000
current = 50000
per = 15.79

print(total, type(total))
print(current, type(current))
print(per, type(per))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [66]:
# 013

s = "hello"
t = "python"

print(s+"!", t)

hello! python

In [67]:
# 014

2 + 2 * 3 

# 8

8

In [68]:
# 015

a = "132"
print(type(a))

<class 'str'>

In [72]:
# 016

num_str = "720"

print(int(num_str))

720

In [78]:
# 017

num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [6]:
# 018

old_str = "15.79"
new_str = float(old_str)

print(new_str, type(new_str))

15.79 <class 'float'>

In [ ]:
# 019

year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

In [16]:
# 020

total = 48584 * 36

print(total)

1749024

In [19]:
# 021

letters = 'python'

print(letters[0], letters[2])

p t

In [24]:
# 022

license_plate = "24가 2210"

license_plate[-4:]

'2210'

In [30]:
# 023

string = "홀짝홀짝홀짝"

print(string[::2])

홀홀홀

In [34]:
# 024
string = "PYTHON"

print(string[::-1])

NOHTYP

In [46]:
# 025

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

01011112222

In [49]:
# 026

phone_number = "010-1111-2222"
ph_num = phone_number.replace('-', '')
print(ph_num)

01011112222

In [63]:
# 027

# url = "http://sharebook.kr"
# print(url[-2:])

url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [65]:
# 028

lang = 'python'
lang[0] = 'P'
print(lang)
# 문자열은 immutable, 할당메서드(=) 지원하지않음!!

TypeError: 'str' object does not support item assignment

In [76]:
# 029

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [83]:
# 030
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [89]:
# 031

a = "3"
b = "4"
print(a + b)

# 34

34

In [91]:
# 032

print("Hi" * 3)
# HiHiHI

HiHiHi

In [92]:
# 033

print('-'*80)

--------------------------------------------------------------------------------

In [102]:
# 034

t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '

print(t3*4)

python java python java python java python java

In [114]:
# 035 % formatting 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [124]:
# 036 format( ) 메서드를 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름:{} 나이:{}".format(name1, age1))
print("이름:{} 나이:{}".format(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

In [128]:
# 037 f-string을 사용

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름:{name1} 나이:{age1}')
print(f'이름:{name2} 나이:{age2}')

이름:김민수 나이:10
이름:이철희 나이:13

In [137]:
# 038 컴마 제거하기

zoosic = "5,969,782,550"
zoosic = zoosic.replace(',', '')
int_zoosic = int(zoosic)
print(int_zoosic, type(int_zoosic))

5969782550 <class 'int'>

In [139]:
# 039 문자열 슬라이싱

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [144]:
# 040 strip 메서드

data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [145]:
# 041 upper 메서드

ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [146]:
# 042 lower 메서드

ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [148]:
# 043 capitalize 메서드

word = 'hello'
word1 = word.capitalize()
print(word1)

Hello

In [152]:
# 044 endswith 메서드

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [155]:
# 045 endswith 메서드

file_name = "보고서.xlsx"
file_name.endswith("xls")

False

In [156]:
# 046 startswith 메서드
file_name = "2020_보고서.xlsx"
file_name.startswith("2020_보고서")

True

In [159]:
# 047 split 메서드

# a = "hello world"
# a1 = a.split()
# print(a1)

a = "hello world"
a.split()

['hello', 'world']

In [160]:
# 048 split 메서드

ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [167]:
# 049 split 메서드

date = "2020-05-01"

month = date.split('-')
print(month)

['2020', '05', '01']

In [175]:
# 050 rstrip 메서드

data = "039490     "

data = data.rstrip()
print(data)

039490

In [181]:
# 051 리스트 생성

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [183]:
# 052 리스트에 원소 추가

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [189]:
# 053

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [198]:
# 054

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

# del movie_rank[3]
# print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [201]:
# 055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[-2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [204]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [207]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ', max(nums))
print('min: ', min(nums))

max:  7
min:  1

In [208]:
# 058

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [216]:
# 059

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [218]:
# 060

nums = [1, 2, 3, 4, 5]

average = sum(nums) / len(nums)
print(average)

3.0

In [222]:
# 061

price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [223]:
# 062

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [225]:
# 063

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [226]:
# 064

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [228]:
# 065

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [233]:
# 066 join 메서드

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [234]:
# 067

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [235]:
# 068

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [237]:
# 069

string = "삼성전자/LG전자/Naver"
result = string.split('/')
print(result)

['삼성전자', 'LG전자', 'Naver']

In [249]:
# 070

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [254]:
# 071

my_variable = ()

In [257]:
# 072

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(type(movie_rank))

<class 'tuple'>

In [267]:
# 073

my_tuple = (1, )
print(my_tuple, type(my_tuple))

(1,) <class 'tuple'>

In [271]:
# 074

# 왜냐하면 tuple은 immutable(변경불가능한숫자)기 때문이다

In [275]:
# 075

t = 1, 2, 3, 4
type(t)

tuple

In [277]:
# 076

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t, type(t))

('A', 'b', 'c') <class 'tuple'>

In [285]:
# 077

interest = ('삼성전자', 'LG전자', 'SK Hynix')

new_list = [interest]
print(new_list, type(new_list))

data = list(interest)
print(data, type(data))

[('삼성전자', 'LG전자', 'SK Hynix')] <class 'list'>
['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [293]:
# 078

interest = ['삼성전자', 'LG전자', 'SK Hynix']

my_tuple = tuple(interest)
print(my_tuple, type(my_tuple))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [295]:
# 079

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# apple banana cake

apple banana cake

In [305]:
# 080

even_num = range(2, 100, 2)
print(tuple(even_num))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [308]:
# 081

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

valid_score = scores[:8]

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [321]:
# 082

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

valid_score = scores[2:11]
print(valid_score)

# a, b, *valid_score = scores
# print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [323]:
# 083

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [325]:
# 084

ice = {'merona' : 1000, 'pollapo' : 1200, 'bbangbbale' : 1800}
type(ice)

dict

In [328]:
# 086

ice = {'merona' : 1000, 'pollapo' : 1200, 'bbangbbale' : 1800}
ice['죠스바'] = 1200
ice['월드콘'] = 1500

print(ice)

{'merona': 1000, 'pollapo': 1200, 'bbangbbale': 1800, '죠스바': 1200, '월드콘': 1500}

In [332]:
# 087

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

In [333]:
# 088

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300

print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [339]:
# 089

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [340]:
# 090

>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

# 에러 난 이유 :  키 값에 누가바라는 아이스크림이 존재하지 않아서

SyntaxError: invalid syntax (1264541762.py, line 3)

In [343]:
# 091 딕셔너리 생성

inventory = {'메로나' : [300, 20], '비비빅' : [400, 3], '죠스바' : [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [352]:
# 092 
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0], "원")

300 원

In [5]:
# 093 
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][1], '개')

20 개

In [8]:
# 094

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [9]:
# 095

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.keys()

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [11]:
# 096

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

In [12]:
# 097

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
total = icecream.values()

print(sum(total))

6700

In [17]:
# 098

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [23]:
# 099

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [24]:
# 100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [26]:
# 101

# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
# bool 타입

In [27]:
# 102

print(3 == 5)
# false

False

In [28]:
# 103

print(3 < 5)
# true

True

In [30]:
# 104
x = 4
print(1 < x < 5)
# true

True

In [35]:
# 105

print ((3 == 4) and (4 != 3))

False

In [39]:
# 106

print(3 => 4)
# <,> 이걸 먼저 쓰고 = 이 나와야됨 그래서 <=. >= 이렇게 써야함! 이건 지원하지않는 연산자다

True

In [43]:
# 107

if 4 < 3:
    print("Hello World")
# 답이 없어

In [44]:
# 108

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

# else 문 출력

Hi, there.

In [46]:
# 109

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

# 1 2 4

1
2
4

In [47]:
# 110

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

# 3 5

3
5

In [1]:
# 111

user = input("입력:")
print(user * 2)

입력: ddddddd

dddddddddddddd

In [8]:
# 112

number = input('숫자를 입력하세요')
print(int(number)+10)

숫자를 입력하세요 30

40

In [15]:
# 113

number = input('숫자를 입력하세요')
# if int(number) % 2 == 0:
#     print('짝수')
# else:
#     print('홀수')

'짝수' if int(number) % 2 == 0 else '홀수'

숫자를 입력하세요 1515

'홀수'

In [19]:
# 114

number = input('숫자를 입력하세요')
# if int(number) + 20 > 255:
#     print(255)
# else:
#     print(int(number))

# number = int(number) + 20
# if number > 255:
#     print(255)
# else:
#     print(number)

number = int(number) + 20
'255' if number > 255 else number

숫자를 입력하세요 15

35

In [25]:
# 115

number = input('숫자를 입력하세요')
number = int(number) - 20

if number < 0:
    print(0)
elif number > 255:
    print(255)
else:
    print(number)

숫자를 입력하세요 200

180

In [27]:
# 116

time = input('현재시간:')

if time [-2:] == '00':
    print('정각 입니다.')
else:
    print('정각이 아닙니다')

현재시간: 05:45

정각이 아닙니다

In [4]:
# 117

fruits = input('과일을 적어주세요')
fruit = ["사과", "포도", "홍시"]

if fruits in fruit:
    
    print('정답입니다.')
else:
    print('오답입니다.')

과일을 적어주세요 홍시

정답입니다.

In [6]:
# 118

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

answer = input('투자 종목 적어주세요')
if answer in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

투자 종목 적어주세요 youtube

투자 경고 종목이 아닙니다.

In [12]:
# 119

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

계절 = input('제가좋아하는계절은: ')
if 계절 in fruit:
    print('정답입니다.')
else:
    print('오답입니다')

제가좋아하는계절은:  가을

정답입니다.

In [19]:
# 120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input('좋아하는과일은?')

if user in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는과일은? 딸기

정답입니다.

In [27]:
# 121

word = input('문자를 입력해주세요')

if word.islower():
    print(word.upper())
else:
    print(word.lower())

문자를 입력해주세요 B

b

In [35]:
# 122

score = int(input('점수를 입력해주세요'))

if score > 80:
    print('A')
elif score > 60:
    print('B')
elif score > 40:
    print('C')
elif score > 20:
    print('D')
else:
    print('E')

점수를 입력해주세요 100

A

In [3]:
# 123

currency = {'달러': 1167, '엔': 1.096, '유로': 1268, '위안':171}
data = input()
tokens = data.split()
num, tokens = tokens
num = float(num)

if currency == '달러':
    print(num*1167)
elif currency == '엔':
    print(num*1.096)
elif currency == '유로':
    print(num*1268)
else:
    print(num*171)

 120 위안

20520.0

In [1]:
# 124
num1 = input('input number:')
num2 = input('input number:')
num3 = input('input number:')

num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number: 10
input number: 9
input number: 20

20

In [10]:
# 125

number = input('휴대전화 번호 입력:')
num = number.split('-')[0]

if num == '011':
    cum = 'SKT'
elif num == '016':
    cum = 'KT'
elif num == '019':
    cum = 'LGU'
else:
    cum = '알수없음'

print(f'당신은 {cum} 사용자입니다.')

휴대전화 번호 입력: 011-345-1922

당신은 SKT 사용자입니다.

In [21]:
# 126

code = input('우편번호를 입력하세요')
code = code[:3]

if code in ['010', '011', '012']:
    print('강북구')
elif code in ['013', '014', '015']:
    print('도봉구')
else:
    print('노원구')

우편번호를 입력하세요 01100

강북구

In [29]:
#127

data = input('주민번호를 입력하세요') # 821010-1635210
token = data.split('-') # ['821010', '1635210']
data2 = token[1] # '1635210'

if data2[0] == '1' or data2[0] == '3':
    print('남자')
elif data2[0] == '2' or data2[0] == '4':
    print('여자')

주민번호를 입력하세요 821010-1635210

남자

In [32]:
# 128

data = input('주민등록번호를 입력하세요:')
num = data.split('-')[1]

if num[1:3] in ['00', '01', '02', '03', '04', '05', '06', '07', '08']:
    print('서울 입니다.')
elif num[1:3] in ['09', '10', '11', '12']:
    print('부산 입니다.')
else:
    print('서울이 아닙니다')

주민등록번호를 입력하세요: 821010-1015210

서울 입니다.

In [42]:
# 129

data = input('주민등록번호:')
data = data.replace('-', '')

계산 = int(data[0]) * 2 + int(data[1]) * 3 + int(data[2]) * 4 + int(data[3]) * 5 + \
        int(data[4]) * 6 + int(data[5]) * 7 + int(data[6]) * 8 + int(data[7]) * 9 + int(data[8]) * 2 + \
        int(data[9]) * 3 + int(data[10]) * 4 + int(data[11]) * 5
계산 = 계산 % 11
계산2 = 11 - 계산
계산2 = str(계산2)

if data[12] == 계산2:
    print('유효한 주민등록번호입니다.')
else:
    print(' 유효하지 않은 주민등록번호입니다.')

주민등록번호: 821010-1635210

 유효하지 않은 주민등록번호입니다.

In [46]:
# 130

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

open = float(btc['opening_price'])
close = float(btc['closing_price'])
high = float(btc['max_price'])
low = float(btc['min_price'])
변동폭 = high - low

if open + 변동폭 > high:
    print('상승장')
else:
    print('하락장')

상승장

In [48]:
# 131

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

# 사과 /n 귤 /n 수박

사과
귤
수박

In [49]:
# 132

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [59]:
# 133

for 변수 in ["A", "B", "C"]:
  print(변수)

변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C
A
B
C

In [63]:
# 134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

변수 = 'A'
print('출력:', 변수)
변수 = 'B'
print('출력:',변수)
변수 = 'C'
print('출력:', 변수)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [64]:
# 135

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [66]:
# 136

for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [68]:
# 137
for 변수 in [10, 20, 30]:
    print(변수)

print(10)
print(20)
print(30)

10
20
30
10
20
30

In [72]:
# 138

# print(10)
# print("-------")
# print(20)
# print("-------")
# print(30)
# print("-------")

# for A in [10,'-------', 20, '-------', 30, '-------']:
#     print(A)

for A in [10, 20, 30]:
    print(A)
    print('-------')

10
-------
20
-------
30
-------

In [74]:
# 139
# print("++++")
# print(10)
# print(20)
# print(30)

for A in [10, 20, 30]:
    print('++++')
    print(A)

++++
10
++++
20
++++
30

In [78]:
# 140

# print("-------")
# print("-------")
# print("-------")
# print("-------")

for A in [1, 2, 3, 4]:
    print('-------')

-------
-------
-------
-------

In [79]:
# 141

for 부가세 in [100, 200, 300]:
    print(부가세+10)

110
210
310

In [90]:
# 142

menu = '김밥'
print('오늘의 메뉴: 김밥')
menu = '라면'
print('오늘의 메뉴: 라면')
menu = '튀김'
print('오늘의 메뉴: 튀김')

for menu in ['김밥', '라면', '튀김']:
    print('오늘의 메뉴:', menu)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [94]:
# 143

for zoosic in ["SK하이닉스", "삼성전자", "LG전자"]:
    print(len(zoosic))

6
4
4

In [98]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for animal in 리스트:
    print(animal, len(animal))

dog 3
cat 3
parrot 6

In [101]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name[0])

d
c
p

In [111]:
# 146
리스트 = [1, 2, 3]
for num in 리스트:
    print('3 x', num)

3 x 1
3 x 2
3 x 3

In [117]:
# 147
리스트 = [1, 2, 3]
for num in 리스트:
    print('3 x', num, '=', 3*num)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [119]:
# 148
리스트 = ["가", "나", "다", "라"]
for text in 리스트[1:]:
    print(text)

나
다
라

In [123]:
# 149
리스트 = ["가", "나", "다", "라"]
for text in 리스트[::2]:
    print(text)

가
다

In [124]:
# 150
리스트 = ["가", "나", "다", "라"]
for text in 리스트[::-1]:
    print(text)

라
다
나
가

In [131]:
# 151
리스트 = [3, -20, -3, 44]
for num in 리스트:
    if num < 0:
        print(num)

-20
-3

In [132]:
# 152
리스트 = [3, 100, 23, 44]
for num in 리스트:
    if num % 3 == 0:
        print(num)

3

In [133]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for num in 리스트:
    if num % 3 ==0 and num < 20:
        print(num)

12
18

In [134]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for text in 리스트:
    if len(text) >= 3:
        print(text)

study
python
language

In [141]:
# 155
리스트 = ["A", "b", "c", "D"]
for text in 리스트:
    if text.isupper():
        print(text)

A
D

In [142]:
# 156
리스트 = ["A", "b", "c", "D"]
for text in 리스트:
    if text.islower():
        print(text)

b
c

In [149]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for text in 리스트:
        print(text.capitalize())

Dog
Cat
Parrot

In [155]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for file in 리스트:
    A = file.split('.')
    print(A[0])

hello
ex01
intro

In [158]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for file in 리스트:
    if '.h' in file:
        print(file)

for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h
intra.h
define.h

In [160]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for file in 리스트:
    split = file.split('.')
    if split[1] != 'py':
        print(file)

intra.h
intra.c
define.h

In [163]:
# 161
# for num in range(100):
#     print(num)

In [165]:
# 162
for year in range(2002,2051,4):
    print(year)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [169]:
# 163
for num in range(3,31,3):
        print(num)

3
6
9
12
15
18
21
24
27
30

In [175]:
# 164
# for num in range(100):
#     print(99-num)

In [180]:
# 165
# for num in range(10):
#     print(num/10)

In [186]:
# 166
for dan in range(1,10):
    print(3, 'X', dan, '=', 3*dan)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [190]:
# 167
for dan in range(1,10,2):
    print(3, 'x', dan, '=', 3*dan)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [211]:
# 168
hab = 0
for num in range(1, 11):
    hab += num
print('합 :',hab)
# hab = 0
# for i in range(1, 11):
#     hab += i
# print ("합 :", hab)

합 : 55

In [207]:
# 169
hab = 0
for i in range(1, 11, 2):
    hab += i
print ("합 :", hab)

합 : 25

In [206]:
# 170
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [217]:
# 171
price_list = [32100, 32150, 32000, 32500]
# idx = 0
# for idx, price in enumerate(price_list):
#     idx += 1
#     print(price)

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [225]:
# 172
price_list = [32100, 32150, 32000, 32500]

num = 0
for price in range(4):
    print(num, price_list[price])
    num += 1

for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500
0 32100
1 32150
2 32000
3 32500

In [230]:
# 173
price_list = [32100, 32150, 32000, 32500]

for price in range(len(price_list)):
    print((len(price_list)-1)-price, price_list[price])

3 32100
2 32150
1 32000
0 32500

In [1]:
# 174
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4): # 1 2 3
    print(90 + i*10, price_list[i])

100 32150
110 32000
120 32500

In [10]:
# 175

my_list = ["가", "나", "다", "라"]

for t in [0, 1, 2]:
    print(my_list[t], my_list[t+1])

가 나
나 다
다 라

In [12]:
# 176

my_list = ["가", "나", "다", "라", "마"]

for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [19]:
# 177
my_list = ["가", "나", "다", "라"]

for i in [-1, -2, -3]:
    print(my_list[i], my_list[i-1])

# print(my_list[-1], my_list[-2])
# print(my_list[-2], my_list[-3])
# print(my_list[-3], my_list[-4])

라 다
다 나
나 가

In [24]:
# 178
my_list = [100, 200, 400, 800]

for i in [-1, 0, 1]:
    print(my_list[i+1])

# 800  100
# 100  200
# 200  400

100
200
400

In [27]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in [1, 2, 3, 4]:
    print((my_list[i-1]+my_list[i]+my_list[i+1])/3) 
# 100 200 400 /n 200 400 800 /n 400 800 1000 /n 800 1000 1300 ....

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [33]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

In [5]:
# 181
apart = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]
apart

(['101호', '102호'], ['201호', '202호'], ['301호', '302호'])

In [7]:
# 182
stock = [['시가','100','200', '300'], ['종가','80', '210', '330']]
stock

[['시가', '100', '200', '300'], ['종가', '80', '210', '330']]

In [15]:
# 183
stock = {'시가' : ['100', '200', '300'], '종가' : ['80', '210', '330']}
stock

{'시가': ['100', '200', '300'], '종가': ['80', '210', '330']}

In [16]:
# 184
stock = {'10/10' : ['80', '110', '70', '90'], '10/11' : ['210' , '230' ,'190', '200']}
stock

{'10/10': ['80', '110', '70', '90'], '10/11': ['210', '230', '190', '200']}

In [23]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [37]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [39]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [49]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [51]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [54]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
            
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [58]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
# 원가에 수수료 더하기
for coin in data:
    for co in coin:
        print(co*(1+0.00014))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [62]:
# 192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for coin in data:
    for co in coin:
        print(co*(1+0.00014))
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [68]:
# 193
result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for coin in data:
    for co in coin:
        result.append(co*(1+0.00014))
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [74]:
# 194
result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for coin in data:
    sub = []
    for co in coin:
        sub.append(co*(1+0.00014))
    result.append(sub)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [83]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    for j in i[-1:]:
        print(j)

100
190
310

In [85]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    for j in i[-1:]:
        if j > 150:
            print(j)

190
310

In [89]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if (i[0] <= i[3]):
        print(i[3])

100
310

In [93]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []

for i in ohlc[1:]:
    result = i[1] - i[2]
    volatility.append(result)
print(volatility)

[40, 30, 10]

In [95]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[0] < i[3]:
        result = i[1] - i[2]

print(result)

10

In [1]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

suic = 0
for i in ohlc[1:]:
    suic += (i[3] - i[0])

print(suic)

0

In [5]:
b = [1, 2, 3]
b is [1, 2, 3]

False